{
  "exec-opts": ["native.cgroupdriver={{ docker_native_cgroupdriver }}"],
  "data-root": "{{ docker_path }}/docker",
  "icc": {{ docker_arg.icc | bool | to_json }},
  "ipv6": {{ docker_arg.ipv6 | bool | to_json }},
  "live-restore": {{ docker_arg.live_restore | bool | to_json }},
  "log-driver": "{{ docker_arg.log_driver }}",
  "log-level": "{{ docker_arg.log_level }}",
  "selinux-enabled": {{ docker_selinux | bool | to_json }},
{% if syslog %}
  "log-opts": { 
    "gelf-address": "{{ syslog_protocol | lower }}://{{ syslog_server | list | random(seed=inventory_hostname) }}:{{ syslog_port }}",
    "tag": "in_docker"
  },
{% endif %}
  "registry-mirrors": ["{{ docker_registry_mirrors | join('", "') }}"],
  "metrics-addr": "0.0.0.0:{{ docker_port.metrics_port }}",
  "dns": ["{{ docker_arg.dns | join('", "') }}"],
  "storage-driver": "{{ docker_arg.storage_driver }}",
  "storage-opts": [
    "overlay2.override_kernel_check={{ docker_arg.storage_opts.overlay2_override_kernel_check | bool | to_json }}"
  ],
{% if exporter_is_install %}
  "experimental": true,
{% endif %}
  "userland-proxy": {{ docker_arg.userland_proxy | bool | to_json }}
}
